@model CategoryWithRelatedVM
@section Scripts
{
    <partial name="_NotificationPartial">

    
}
<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">All Category</h2>
        </div>
        <div class="col-md-6 text-md-end text-start mt-2 mt-md-0">
            <a href="/Admin/Category/Create" class="btn btn-success"><i class="bi bi-plus-circle"></i> Create</a>
        </div>
    </div>

    <!-- Filter Section -->
    <section class="py-3 filter-bar">
        <div class="container">
            <div class="row" style="background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;">
                <div class="col-12">
                    <form>
                        <div class="row">
                            <!-- Brand Name -->
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Name" name="query" value="">
                            </div>

                            <!-- Submit Button -->
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-dark w-100">Filter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.categories)
                    {
                        <tr>
                            <th scope="row">@item.ID</th>
                            <td>@item.HomeName</td>
                               
                            <td><span class="badge text-bg-success">Active</span></td>
                            @* <td><span class="badge text-bg-danger">In Active</span></td> *@
                            <td>
                                <a href="/Admin/Category/Update/@item.ID" type="button" class="btn btn-warning"><i class="bi bi-pencil-square"></i> Edit</a>
                                <a href="/Admin/Category/Delete/@item.ID" class="btn btn-danger btn-delete"><i class="bi bi-trash"></i> Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <nav aria-label="...">
                    <ul class="pagination">
                        @if (Model.CurrentPage > 1)
                        {
                            <li class="page-item"><a href="/Admin/Category/Index?page=@(Model.CurrentPage - 1)" class="page-link">Previous</a></li>
                        }
                        @for (var i = 1; i <= Model.totalPages; i++)
                        {
                            if (Model.CurrentPage == i)
                            {
                                <li class="page-item active"><a class="page-link" href="/Admin/Category/Index?page=@i">@i</a></li>
                            }
                            else
                            {
                                <li class="page-item"><a class="page-link" href="/Admin/Category/Index?page=@i">@i</a></li>
                            }
                        }
                        @if (Model.CurrentPage != Model.totalPages)
                        {
                            <li class="page-item"><a class="page-link" href="/Admin/Category/Index?page=@(Model.CurrentPage + 1)">Next</a></li>
                        }
                    </ul>
                </nav>
            </nav>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const deleteButtons = document.querySelectorAll(".btn-delete");

        deleteButtons.forEach(button => {
            button.addEventListener("click", function (e) {
                e.preventDefault(); // stop normal navigation

                const url = this.getAttribute("href");

                Swal.fire({
                    title: "Are you sure?",
                    text: "This action cannot be undone!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#d33",
                    cancelButtonColor: "#3085d6",
                    confirmButtonText: "Yes, delete it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                          title: "Deleted!",
                          text: "Your Brand has been deleted.",
                          icon: "success"
                        }, 3000);

                        // Redirect to delete URL
                        window.location.href = url;
                    }
                });
            });
        });
    });
</script>