@model Cinema_Management_System.ViewModel.ForgetPasswordVM

@{
    ViewData["Title"] = "ForgetPassword";
}

<h1>ForgetPassword</h1>

<h4>ForgetPasswordVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmailORUserName" class="control-label"></label>
                <input asp-for="EmailORUserName" class="form-control" />
                <span asp-validation-for="EmailORUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
